language: node_js
node_js:
  - '8'

before_deploy:
  - openssl aes-256-cbc -K $encrypted_3d656ef71c0e_key -iv $encrypted_3d656ef71c0e_iv
    -in gae-service-account.json.enc -out gae-service-account.json
    -d

deploy:
  provider: gae
  keyfile: gae-service-account.json
  project: martolini-urlshortener
  default: true
  skip_cleanup: true

after_deploy:
  - yarn generate:docs
  - yarn publish:docs
